In [1]:
#Import the librairies
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

from mlxtend.plotting import plot_decision_regions
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
import matplotlib.pyplot as plt

import seaborn as sns

#Import the dataset
data = 'flight_data_2024_sample.csv'
flight_df = pd.read_csv(data)
print(flight_df.head())

   year  month  day_of_month  day_of_week     fl_date op_unique_carrier  \
0  2024      4            18            4  2024-04-18                MQ
1  2024      1             1            1  2024-01-01                AA
2  2024     12            12            4  2024-12-12                9E
3  2024      4             8            1  2024-04-08                WN
4  2024      2            16            5  2024-02-16                WN

   op_carrier_fl_num origin       origin_city_name origin_state_nm  ...  \
0             3535.0    DFW  Dallas/Fort Worth, TX           Texas  ...
1              148.0    CLT          Charlotte, NC  North Carolina  ...
2             5440.0    CHA        Chattanooga, TN       Tennessee  ...
3             1971.0    OMA              Omaha, NE        Nebraska  ...
4              862.0    BWI          Baltimore, MD        Maryland  ...

  diverted crs_elapsed_time actual_elapsed_time  air_time  distance  \
0        0            151.0               144.0     119.0     835.0
1        0            286.0               273.0     253.0    1773.0
2        0             59.0                50.0      29.0     106.0
3        0            180.0               177.0     163.0    1099.0
4        0             90.0                96.0      76.0     399.0

   carrier_delay  weather_delay  nas_delay  security_delay  \
0              0              0          0               0
1              0              0          0               0
2              0              0          0               0
3              0              0          0               0
4              0              0          0               0

   late_aircraft_delay
0                    0
1                    0
2                    0
3                    0
4                    0

[5 rows x 35 columns]

## Clean the Dataset

### Remove none important independent variables

In [2]:
print(flight_df.columns)

flight_df.drop(['taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
    'cancellation_code', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'], axis=1, inplace=True)
print(flight_df.columns)

Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date',
       'op_unique_carrier', 'op_carrier_fl_num', 'origin', 'origin_city_name',
       'origin_state_nm', 'dest', 'dest_city_name', 'dest_state_nm',
       'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
       'cancelled', 'cancellation_code', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'distance', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')
Index(['year', 'month', 'day_of_month', 'day_of_week', 'fl_date',
       'op_unique_carrier', 'op_carrier_fl_num', 'origin', 'origin_city_name',
       'origin_state_nm', 'dest', 'dest_city_name', 'dest_state_nm',
       'crs_dep_time', 'dep_time', 'dep_delay', 'cancelled', 'distance'],
      dtype='object')

### Remove cancelled flights

In [3]:
flight_df = flight_df[flight_df['cancelled'] == 0]

print(flight_df)

      year  month  day_of_month  day_of_week     fl_date op_unique_carrier  \
0     2024      4            18            4  2024-04-18                MQ
1     2024      1             1            1  2024-01-01                AA
2     2024     12            12            4  2024-12-12                9E
3     2024      4             8            1  2024-04-08                WN
4     2024      2            16            5  2024-02-16                WN
...    ...    ...           ...          ...         ...               ...
9995  2024      1            16            2  2024-01-16                WN
9996  2024      7             5            5  2024-07-05                AA
9997  2024      2            28            3  2024-02-28                MQ
9998  2024      2            18            7  2024-02-18                DL
9999  2024      3             1            5  2024-03-01                G4

      op_carrier_fl_num origin       origin_city_name origin_state_nm dest  \
0                3535.0    DFW  Dallas/Fort Worth, TX           Texas  RAP
1                 148.0    CLT          Charlotte, NC  North Carolina  PHX
2                5440.0    CHA        Chattanooga, TN       Tennessee  ATL
3                1971.0    OMA              Omaha, NE        Nebraska  LAS
4                 862.0    BWI          Baltimore, MD        Maryland  MYR
...                 ...    ...                    ...             ...  ...
9995             3692.0    KOA               Kona, HI          Hawaii  OGG
9996             1924.0    LAS          Las Vegas, NV          Nevada  ORD
9997             3418.0    AUS             Austin, TX           Texas  ORD
9998             1117.0    ATL            Atlanta, GA         Georgia  OKC
9999              427.0    CVG         Cincinnati, OH        Kentucky  PIE

          dest_city_name   dest_state_nm  crs_dep_time  dep_time  dep_delay  \
0         Rapid City, SD    South Dakota          1018    1015.0       -3.0
1            Phoenix, AZ         Arizona          1637    1633.0       -4.0
2            Atlanta, GA         Georgia          1000     952.0       -8.0
3          Las Vegas, NV          Nevada          1330    1334.0        4.0
4       Myrtle Beach, SC  South Carolina          1340    1333.0       -7.0
...                  ...             ...           ...       ...        ...
9995         Kahului, HI          Hawaii          1420    1420.0        0.0
9996         Chicago, IL        Illinois          1005    1002.0       -3.0
9997         Chicago, IL        Illinois          1505    1507.0        2.0
9998   Oklahoma City, OK        Oklahoma          1745    1738.0       -7.0
9999  St. Petersburg, FL         Florida          1410    1402.0       -8.0

      cancelled  distance
0             0     835.0
1             0    1773.0
2             0     106.0
3             0    1099.0
4             0     399.0
...         ...       ...
9995          0      84.0
9996          0    1514.0
9997          0     977.0
9998          0     761.0
9999          0     776.0

[9878 rows x 18 columns]

## Create new categories

In [4]:
flight_df['flight_delayed'] = (flight_df['dep_delay'] > 0).astype(int)
print(flight_df.head())

   year  month  day_of_month  day_of_week     fl_date op_unique_carrier  \
0  2024      4            18            4  2024-04-18                MQ
1  2024      1             1            1  2024-01-01                AA
2  2024     12            12            4  2024-12-12                9E
3  2024      4             8            1  2024-04-08                WN
4  2024      2            16            5  2024-02-16                WN

   op_carrier_fl_num origin       origin_city_name origin_state_nm dest  \
0             3535.0    DFW  Dallas/Fort Worth, TX           Texas  RAP
1              148.0    CLT          Charlotte, NC  North Carolina  PHX
2             5440.0    CHA        Chattanooga, TN       Tennessee  ATL
3             1971.0    OMA              Omaha, NE        Nebraska  LAS
4              862.0    BWI          Baltimore, MD        Maryland  MYR

     dest_city_name   dest_state_nm  crs_dep_time  dep_time  dep_delay  \
0    Rapid City, SD    South Dakota          1018    1015.0       -3.0
1       Phoenix, AZ         Arizona          1637    1633.0       -4.0
2       Atlanta, GA         Georgia          1000     952.0       -8.0
3     Las Vegas, NV          Nevada          1330    1334.0        4.0
4  Myrtle Beach, SC  South Carolina          1340    1333.0       -7.0

   cancelled  distance  flight_delayed
0          0     835.0               0
1          0    1773.0               0
2          0     106.0               0
3          0    1099.0               1
4          0     399.0               0